<!DOCTYPE html>
<html lang="PT-br">
<head>

    <%- include('../partials/head');%>

</head>
<body class="container ">
    <%- include('../partials/header', {pagina: 'sobre'});%>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Eu sou Raphael Busquet e estou aprendendo programação com arquivos EJS</p>
        </div>
    </main>

    <%- include('../partials/footer');%>
</body>
</html>